{% extends 'base.html' %}
 {% block my_block %}
 <div class="container">
   <div class="jumbotron article_listing">
     <h1>This is article listing page</h1>
     <div class="row">

       {% if articles %}
        {% for article in articles %}
          {% if article.published == True and forloop.counter <= 6  %}
           <div class="col-sm-4 article">
              <p><a href="{% url 'articles:details' id=article.id %}"><sapn class="title">{{ article.title }}</span></a></p>
              <p>{{ article.snippet }}</p>
              <p>{{ article.date }}</p>
              <p class='author'>Add by {{ article.author.username }}
            </div>
          {% endif %}
        {% endfor %}
       {% else %}
          <h3>No aticles availabe to show</h3>
       {% endif %}
     </div>
     <p class="all_list"><a href="{% url 'articles:all_list' %}">views all list</a></p>
  </div>
 </div>
{% endblock %}
